body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 50px;
}
.orange-color {
  color: orange;
}
.display-flex {
  display: flex;
  padding-bottom: 200px;
}
.half-width {
  width: 50%;
  padding-left: 10%;
}
.half-width img {
  width: 80%;
  margin: auto;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  font-weight: 700;
  color: white;
  padding: 10px 40px;
  border-radius: 5px;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.bottom-banner {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.experiance-head {
  text-align: center;
}
.experiance-area {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.heading-size h1 {
  font-size: 40px;
}
.experiance-tap {
  width: 40%;
  margin: 0 5%;
  padding: 30px;
  box-shadow: 10px 10px 40px 5px gray;
  border-radius: 10px;
}
.fsd-border {
  border-left: 7px solid;
  border-image: linear-gradient(purple, tomato);
  border-image-slice: 1;
}
.bwd-border {
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}
.heading-size h3 {
  color: orange;
}
footer p {
  text-align: center;
}
